# SPDX-FileCopyrightText: 2025-2026 Thomas Sowell <tom@ldtlb.com>
# SPDX-License-Identifier: MIT OR Apache-2.0

[Desktop Entry]
Name=Wiremix
GenericName=Audio Mixer
Comment=Configure audio device settings
Exec=wiremix
Terminal=true
Type=Application
Keywords=pipewire;sound;audio
Categories=Utility;Settings;ConsoleOnly
StartupNotify=false
